<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Homitly</title>
    <link rel="icon" href="/favicon.png" type="image/png">
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Pangolin&display=swap"
        rel="stylesheet">


    <!-- map css cdn -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />

    <!-- stylesheets -->

    <link rel="stylesheet" type="text/css" href="/global.css">
    <link rel="stylesheet" type="text/css" href="/rating.css">
    <link rel="stylesheet" type="text/css" href="/navbar.css">
    <link rel="stylesheet" type="text/css" href="/footer.css">
    <link rel="stylesheet" type="text/css" href="/listing.css">
    <link rel="stylesheet" type="text/css" href="/show.css">
    <link rel="stylesheet" type="text/css" href="/newlisting.css">
    <link rel="stylesheet" type="text/css" href="/login.css">
    <link rel="stylesheet" href="/booking.css">
</head>


<body>

    <%- include("navbar.ejs"); %>

        <!-- flash msg -->
        <% if(success && success.length){ %>
            <div class="flash">
                <p>
                    <%= success %>
                </p>
                <span class="cross">x</span>
            </div>

            <% } %>

                <% if(error && error.length){ %>
                    <div class="flash">
                        <p>
                            <%= error %>
                        </p>
                                <span class="cross">x</span>
                    </div>
                    <% } %>


                        <main>
                            <%- body %>
                        </main>
                        <%- include("footer.ejs"); %>


                            <!-- font-awesome cdn -->

                            <link rel="stylesheet"
                                href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css"
                                integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ=="
                                crossorigin="anonymous" referrerpolicy="no-referrer" />

                            <script>
                                let flash = document.querySelector('.flash')
                                let cross = document.querySelector('.cross')

                                cross.addEventListener('click', () => {
                                    flash.remove()
                                })
                            </script>
</body>

</html>