<section>
    <% for(let item of data){ %>
        <a class="box" href="listing/<%=item._id %>">
            <img class="listing-img" src="<%= item.photos.path %>" alt="item.photos.filename">
            <div class="text">
                <p>
                    <%= item.title %>
                </p>
                <p class="price-text">&#8377;<%= item.pricePerNight %> per night&nbsp; &bull; &nbsp; &#9733; <%= avgrating %></p>
            </div>
        </a>
        <% } %>
</section>